<section class="gallery">
  <!-- GALLERY -->
  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <picture>
          <source
            srcset="
              /src/images/banner/gallery-desctop3/1x.jpg 1x,
              /src/images/banner/gallery-desctop3/2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              /src/images/banner/gallery-tablet3/1x.jpg 1x,
              /src/images/banner/gallery-tablet3/2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /src/images/banner/gallery-mobile3/1x.jpg 1x,
              /src/images/banner/gallery-mobile3/2x.jpg 2x
            "
            media="(max-width:
          768px)"
          />
          <img src="/src/images/banner/gallery-mobile3/1x.jpg" alt="keyboard" />
        </picture>
        <p class="swiper-title1">One place for everything you want</p>
      </div>
      <div class="swiper-slide">
        <picture>
          <source
            srcset="
              /src/images/banner/gallery-desctop1/1x.jpg 1x,
              /src/images/banner/gallery-desctop1/2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              /src/images/banner/gallery-tablet1/1x.jpg 1x,
              /src/images/banner/gallery-tablet1/2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /src/images/banner/gallery-mobile1/1x.jpg 1x,
              /src/images/banner/gallery-mobile1/2x.jpg 2x
            "
            media="(max-width:
          768px)"
          />
          <img src="/src/images/banner/gallery-mobile1/1x.jpg" alt="gamepad" />
        </picture>
        <p class="swiper-title2">
          Best shop for buying<br /><span>gaming products</span>
        </p>
      </div>
      <div class="swiper-slide">
        <picture>
          <source
            srcset="
              /src/images/banner/gallery-desctop2/1x.jpg 1x,
              /src/images/banner/gallery-desctop2/2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              /src/images/banner/gallery-tablet2/1x.jpg 1x,
              /src/images/banner/gallery-tablet2/2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /src/images/banner/gallery-mobile2/1x.jpg 1x,
              /src/images/banner/gallery-mobile2/2x.jpg 2x
            "
            media="(max-width:
          768px)"
          />
          <img src="/src/images/banner/gallery-mobile2/1x.jpg" alt="gamer" />
        </picture>
        <p class="swiper-title3">High-quality products in lowest price</p>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>
