<section class="gallery">
  <!-- GALLERY -->

  <div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <img src="/src/images/banner/banner1.jpg" alt="1" />
      </div>
      <div class="swiper-slide">
        <img src="/src/images/banner/banner2.jpg" alt="2" />
      </div>
      <div class="swiper-slide">
        <img src="/src/images/banner/banner3.jpg" alt="3" />
      </div>
      ...
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>
  </div>
</section>
