<section class="gallery">
	<div class="swiper">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<img class="swiper-image1" src="/src/images/banner/banner1.jpg" alt="">
				<p class="banner-title1">One place for everything you want</p>
			</div>
			<div class="swiper-slide">
				<img class="swiper-image2" src="/src/images/banner/banner2.jpg" alt="">
				<p class="banner-title2">Best shop for buying GAMING PRODUCTS</p>
			</div>
			<div class="swiper-slide">
				<img class="swiper-image3" src="/src/images/banner/banner3.jpg" alt="">
				<p class="banner-title3">High-quality products in lowest price</p>
			</div>
		</div>
		<div class="swiper-pagination"></div>
</section>