
.accessories {
	padding-top: 144px;
	padding-left: 18px;
	padding-right: 18px;
	margin: 0 auto;
	width: 100%;
	background-image: url(/src/images/accessories/bg-mob-1x.jpg), url(/src/images/accessories/bg-mob-1x.jpg);

	@media screen and(min-width:768px) {
		padding-top: 256px;
		background-image: url(/src/images/accessories/bg-tab-1x.jpg), url(/src/images/accessories/bg-tab-1x.jpg);
	}
	@media screen and(min-width:1280px) {
		padding-top: 256px;
		background-image: url(/src/images/accessories/bg-d-1x.jpg), url(/src/images/accessories/bg-d-1x.jpg);
	}
}
.img {
	position: relative;
	display: block;
	max-width: 100%;
	height: auto;
}

.accessories-items {
	display: flex;
	justify-content: center;

	@media screen and (max-width: 767px) {
		flex-wrap: wrap;
		gap: 24px;
		margin-bottom: 32px;
	}
	@media screen and(min-width:768px) {
		margin-bottom: 74px;
		& li:not(:last-child) {
			margin-right: 53px;
		}
	}
	@media screen and(min-width:1280px) {
		margin-bottom: 72px;
		& li:not(:last-child) {
			margin-right: 44px;
		}
	}
}
.accessories-button {
	width: 124px;
	padding: 8px 16px;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.18;
	text-align: center;
	color: #86e543;
	background: transparent;
	cursor: pointer;
	border: 1px solid #86e543;
	border-radius: 16px;

	@media screen and (min-width: 768px) {
		width: 132px;
		padding: 16px 24px;
	}

	@media screen and (min-width: 1280px) {
		padding: 16px 48px;
		width: 168px;
	}

	&:focus,
	&:hover {
		color: #01383a;
		background: #86e543;
		box-shadow: 0px 4px 4px rgba(134, 229, 67, 0.2);
	}
}

.accessories-title {
	font-weight: 600;
	font-size: 24px;
	line-height: 1.16;
	color: #ffffff;
	margin-left: 16px;
	margin-bottom: 27px;
	@media screen and( min-width:768px) {
		padding-left: 142px;
		font-weight: 600;
		font-size: 56px;
		line-height: 1.17;
	}
}
.accessories-list {
	@media screen and(max-width: 479px) {
		margin-bottom: 20px;
	}
	@media screen and(min-width:768px) {
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
		row-gap: 32px;
		justify-content: center;
	}
	@media screen and(min-width:1280px) {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 20px;
		row-gap: 24px;
	}
}
 .accessories-item {
        @media screen and(max-width: 1280px) {
        flex-basis: calc((100% - 60px) / 4);
        }
    }

.accessories-item:nth-child(n + 7) {
	@media screen and(max-width: 767px) {
		display: none;}
	}


.accessories-item:nth-child(n + 13) {
@media screen and(min-width:768px) and(max-width:1279px) {
display: none;}
}

.accessories-wrap {
	background: linear-gradient(0deg, #01383a, #01383a);
	border: 1px solid #86e543;
	box-shadow: 0px 4px 4px rgba(134, 229, 67, 0.2);
	border-radius: 12px;
	margin-bottom: 8px;
	position: relative;
	overflow: hidden;
}

.accessories-text {
	font-size: 14px;
	line-height: 1.142;
	margin-bottom: 11px;
	background-color: #01383a;
	position: absolute;
	top: 0;
	left: 0;
	color: #ffffff;
	padding: 16px 16px 52px 16px;
	height: 100%;

	transform: translateY(100%);
	transition: transform 250ms;
	transition-timing-function: cubic-bezier (0.4, 0, 0.2, 1);
	overflow: hidden;
	.accessories-link:hover &,
	.accessories-link:focus & {
		transform: translate(0);
	}
}

.accessories-subject {
	font-weight: 600;
	font-size: 22px;
	line-height: 1.18;
	color: #86e543;
	margin-bottom: 8px;
}
.accessories-price-list {
	display: flex;
	align-items: center;
	margin-bottom: 28px;
}
.accessories-old-price {
	font-weight: 600;
	font-size: 14px;
	line-height: 1;
	text-decoration-line: line-through;
	color: #8d9289;
	margin-right: 80px;
}

.accessories-new-price {
	font-weight: 600;
	font-size: 20px;
	line-height: 1;
	color: #86e543;
}
.accessories-assortment{
	position: absolute;
}
.accessories-icon-m{
position: relative;
@media screen and(max-width: 767px) {
	top: 24px;
	left:76px ;
}
}
.accessories-icon-td {
@media screen and(min-width: 768px) {
	top: 32px;
	left: 300px;
}
@media screen and(min-width: 1280px) {
    top: 32px;
	left: 590px;
}
}
	

	
