.accessories {
  width: 100%;
  position: relative;
  // padding: 40px 18px 48px 18px;
}

.article__title {
  margin-top: 40px;
  margin-bottom: 31px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;

  color: #ffffff;
}
.article__image {
}
.article__picture {
  display: block;
  margin-bottom: 20px;

  width: 100%;
}

.article__author {
  margin-bottom: 8px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  color: #ffffff;
}

.article__update {
  margin-bottom: 8px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;

  color: #8d9289;
}

.top__article__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 24px;
}

.article__text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  color: white;
}

.bot__article__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 24px;
}
