.hero {
  padding-top: 104px;
  position: relative;
  height: 601px;
  background-color: #01383a;

  background-image: url(/src/images/hero/Hero.png),
    url(/src/images/hero/vector.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and(min-width: 768px) {
    padding-top: 136px;
    height: 860px;
    background-position: center;
  }
}

.overlay {
  position: absolute;
  top: 0;
  height: 100%;
  padding-top: 104px;
  background-image: url(/src/images/hero/bg-mob.png);
  background-blend-mode: luminosity;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  padding: 104px 0 25px 16px;

  @media screen and(min-width: 768px) {
    padding-top: 136px;
    background-image: url(/src/images/hero/bg-tablet.png);
  }
  @media screen and(min-width: 1280px) {
    background-image: url(/src/images/hero/bg-desktop.png);
  }
}

.wrap {
  @media screen and (max-width: 767px) {
    margin-left: auto;
    margin-right: auto;
  }
  padding: 180px 37px 203px 36px;
  @media screen and(min-width: 768px) {
    padding: 154px 340px 372px 40px;
  }
  @media screen and(min-width: 1280px) {
    padding: 180px 702px 319px 142px;
  }
}

.title {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.19;
  text-align: center;
  color: #fff;
  max-width: 247px;
  margin-bottom: 25px;
  @media screen and (max-width: 767px) {
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and(min-width: 768px) {
    font-size: 56px;
    line-height: 1.18;
    margin-bottom: 94px;
    text-align: start;
    max-width: 388px;
  }
  @media screen and(min-width: 1280px) {
    font-size: 64px;
    line-height: 1.17;

    max-width: 436px;
    margin-bottom: 40px;
  }
}

.link {
  display: block;
  align-items: center;
  width: 176px;
  height: 51px;
  background-color: #86e543;
  border-radius: 16px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  text-transform: uppercase;
  color: #01383a;
  padding: 16px 20px;
  border: none;
  @media screen and (max-width: 767px) {
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and(min-width: 768px) {
    width: 306px;
    height: 70px;
    font-size: 32px;
  }
}
