li {
  list-style: none;
  text-decoration: none;
}

label {
  display: block;
}

textarea {
  color: #979b9a;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
}

.order__container {
  margin-left: auto;
  margin-right: auto;

  @media screen and(min-width: 480px) {
    width: 480px;
  }

  @media screen and(min-width: 768px) {
    width: 768px;

  }

  @media screen and(min-width: 1280px) {
    width: 1200px;

  }

}

.order__background {

  width: 100%;
  background-image: url(/src/images/order/background/Background_1-mob.jpg);

  @media screen and(min-width: 768px) {
    padding-left: 40px;
    padding-right: 40px;
    width: 100%;

    background-image: url(/src/images/order/background/Background_1-tab.jpg);

  }

  @media screen and(min-width: 1280px) {
    width: 100%;
    background-image: url(/src/images/order/background/Background_1.jpg);

  }
}

.order-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;


}

.order__one {}

.order-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;

  color: #FFFFFF;
  padding-top: 40px;

  @media screen and(min-width: 480px) {
    padding-top: 40px;
  }

  @media screen and(min-width: 768px) {
    padding-top: 120px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 56px;
    line-height: 66px;
  }

  @media screen and(min-width: 1280px) {}
}

.order-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;

  color: #FFFFFF;

  margin-top: 35px;

  @media screen and(min-width: 480px) {
    margin-top: 35px;
  }

  @media screen and(min-width: 768px) {
    margin-top: 51px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 56px;
    line-height: 66px;

  }

  @media screen and(min-width: 1280px) {}
}

// .list-item {}

.order-product {
  margin-top: 24px;

  @media screen and(min-width: 480px) {}

  @media screen and(min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and(min-width: 1280px) {
    flex-wrap: wrap;
  }
}

.order-product-img-hero {
  margin-bottom: 24px;

  @media screen and(min-width: 480px) {}

  @media screen and(min-width: 768px) {}

  @media screen and(min-width: 1280px) {}
}

.order-product-img {

  @media screen and(min-width: 480px) {}

  @media screen and(min-width: 768px) {}

  @media screen and(min-width: 1280px) {}
}

.order-sale-list {
  display: flex;
  margin-top: 18px;

  @media screen and(min-width: 480px) {
    margin-top: 18px;
  }

  @media screen and(min-width: 768px) {
    display: block;
    padding-left: 40px;
    margin-top: 79px;
  }

  @media screen and(min-width: 1280px) {
    display: flex;

  }
}

.order-sale-up {

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;

  text-decoration-line: line-through;

  color: #8D9289;

  @media screen and(min-width: 480px) {}

  @media screen and(min-width: 768px) {

    font-weight: 500;
    font-size: 24px;

    text-decoration-line: line-through;

    color: #8D9289;


  }

  @media screen and(min-width: 1280px) {
    margin-left: 121px;
  }
}

.order-sale-done {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
  margin-left: auto;

  color: #86E543;

  margin-bottom: 16px;

  @media screen and(min-width: 480px) {
    margin-left: auto;
  }

  @media screen and(min-width: 768px) {
    padding-top: 56px;
    margin-bottom: 0;

    font-weight: 500;
    font-size: 48px;
    line-height: 100%;


    color: #86E543;

  }

  @media screen and(min-width: 1280px) {
    padding-top: 0;
    margin-left: 70px;
  }
}

.order-list {
  display: flex;
  gap: 16px;
  padding-left: 0;
  margin-bottom: 32px;


  @media screen and(min-width: 768px) {

    margin-bottom: 48px;
    gap: 24px;
  }

  @media screen and(min-width: 1280px) {}
}

//.order-item {}

//.order-item-img {}
.order-sec-mod {
  justify-content: center;
  display: grid;

  @media screen and(min-width: 1280px) {}
}

.order__form-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;

  color: #86E543;

  @media screen and(min-width: 768px) {

    font-weight: 500;
    font-size: 36px;
    line-height: 42px;

    color: #86E543;

  }

  @media screen and(min-width: 1280px) {}
}

.order__cont-form {
  margin-top: 16px;

  @media screen and(min-width: 768px) {
    justify-content: center;

    margin-left: auto;
    margin-right: auto;

  }

  @media screen and(min-width: 1280px) {
    display: flex;
    gap: 20px;

  }
}

.order__cont {}

.order__label-name {}

.order__form-input {
  width: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.11;
  color: #ffffff;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #86e543;
  margin-bottom: 40px;

  @media screen and(min-width: 480px) {}

  @media screen and(min-width: 768px) {
    justify-content: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 590px;
    font-size: 18px;
    line-height: 20px;

    text-transform: capitalize;
  }

  @media screen and(min-width: 1280px) {}

}

.order__cont-mod {


  @media screen and(min-width: 480px) {}

  @media screen and(min-width: 768px) {

    justify-content: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 589px;
  }

  @media screen and(min-width: 1280px) {}
}

.order__message {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.11;
  color: #cdcdcd;

  @media screen and(min-width: 480px) {}

  @media screen and(min-width: 768px) {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and(min-width: 1280px) {}
}

.order__message-input {
  width: 100%;
  height: 95px;

  background-color: transparent;

  border: 1px solid #86E543;
  border-radius: 0px;

  @media screen and(min-width: 480px) {}

  @media screen and(min-width: 768px) {
    width: 589px;
    height: 258px;
  }

  @media screen and(min-width: 1280px) {}
}

.order-btn {

  justify-content: center;
  /* align-items: center; */
  gap: 10px;
  padding: 16px 20px;
  /* display: flex; */
  flex-wrap: wrap;
  display: grid;

  @media screen and(min-width: 480px) {}

  @media screen and(min-width: 768px) {
    gap: 24px;
  }

  @media screen and(min-width: 1280px) {
    display: flex;
  }
}

.order__button {

  width: 173px;
  height: 51px;


  display: block;
  background: #86E543;
  border-radius: 16px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;

  text-transform: uppercase;

  color: #01383A;

  @media screen and(min-width: 480px) {
    width: 306px;
    font-size: 32px;
    line-height: 38px;
  }

  @media screen and(min-width: 768px) {}

  @media screen and(min-width: 1280px) {}
}

.order__button-add {

  width: 173px;
  height: 51px;
  left: 73px;
  top: 1293px;

  border: 1px solid #86E543;
  border-radius: 16px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;

  background-color: transparent;

  text-transform: uppercase;

  color: #86E543;


  @media screen and(min-width: 480px) {

    width: 306px;

    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
  }

  @media screen and(min-width: 768px) {}

  @media screen and(min-width: 1280px) {}
}